/* Contenedor principal */
.portafolio-container {
  padding: 20px;
  background-color: #f1efef; /* Blanco */
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Título principal */
.title {
  font-size: 2rem;
  color: #007bff; /* Azul Eléctrico */
  text-align: center;
  margin-bottom: 20px;
}

/* Contenedor de proyectos */
.projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

/* Tarjeta de proyecto */
.project-card {
  background-color: #f5f3f3; /* Blanco */
  border: 1px solid #dddada; /* Gris Claro */
  border-radius: 8px;
  padding: 20px;
  width: 300px;
  text-align: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Imagen del proyecto */
.project-image {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

/* Íconos de tecnología */
.tech-icons {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 10px;
}

.tech-icon {
  width: 30px;
  height: 30px;
}

/* Descripción del proyecto */
.project-description {
  margin-top: 20px;
  text-align: left;
}

.project-description h3 {
  font-size: 1.5rem;
  color: #007bff; /* Azul Eléctrico */
  margin-bottom: 10px;
}

.project-description p {
  font-size: 1rem;
  color: #525050; /* Gris Oscuro */
  line-height: 1.5;
  text-align: justify;
}
