/* CSS general */
body {
    font-family: Arial, sans-serif;
}

.app {
    display: flex;
}

.sidebar {
    width: 20%;
    background-color: #d1d1d8e8;
    padding: 10px;
    text-align: center;
    min-height: 90vh;
}

.sidebar img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-top: 40px;
    margin-bottom: 40px;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar ul li {
    margin: 20px 0;
    cursor: pointer;
}

.content {
    width: 80%;
    padding: 20px;
}

.contact-info a {
    color: blue;
    text-decoration: none;
}

.contact-info a:hover {
    text-decoration: underline;
}

footer {
    margin-top: 20px;
}

footer p {
    font-size: 12px;
}

.social-icons a {
    margin: 0 5px;
}

.title {
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 20px;
}

/* CSS específico para el componente SobreMi */
.about-me {
    font-family: 'Roboto', sans-serif; /* Usar una fuente moderna */
    line-height: 1.8;
    padding: 20px;
    background-color: #ffffff;
    border: 1px solid #e1e1e1;
    border-radius: 8px;
}

.about-me h2 {
    color: #2c3e50;
    font-size: 2rem;
    border-bottom: 3px solid #007bff;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

.about-me p {
    margin-bottom: 20px;
    font-size: 1.2rem;
    color: #333;
}

.about-me ul {
    list-style-type: disc;
    margin-left: 20px;
    font-size: 1.2rem;
    color: #555;
}

.about-me a {
    color: #007bff;
    text-decoration: none;
    font-weight: 500;
}

.about-me a:hover {
    text-decoration: underline;
    color: #0056b3;
}

/* CSS específico para el componente Contacto */
.contact {
    padding: 20px;
    text-align: center;
    background-color: #ffffff;
    border: 1px solid #e1e1e1;
    border-radius: 8px;
    max-width: 800px;
    margin: 0 auto;
}

.contact-title {
    font-size: 2.5rem;
    color: #2c3e50;
    margin-bottom: 20px;
}

.contact-info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-item {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    width: 100%; /* Asegura que ocupe todo el ancho del contenedor */
}

.contact-item h2 {
    font-size: 1.5rem;
    color: #2c3e50;
    margin-bottom: 5px;
}

.contact-item p {
    font-size: 1.2rem;
    color: #007bff;
    margin: 0;
}

.contact-icon {
    width: 40px; /* Ajusta el tamaño según lo necesites */
    height: 40px;
    margin-right: 10px;
}

.contact-info a {
    color: #007bff;
    text-decoration: none;
    font-size: 1.2rem;
}

.contact-info a:hover {
    text-decoration: underline;
}

.contact-footer {
    margin-top: 30px;
}

.contact-footer p {
    font-size: 1rem;
    color: #777;
}
